body {
  background-color: black;
  background-image: url("./Images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-bar {
  background-color: rgb(23, 23, 94);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chetak-logo {
  padding: 20px 0px 20px 40px;
  max-width: 20%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin: 0px 20px 0px 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav a:hover::before {
  width: 100%;
}

.head-btn {
  margin-left: 20px;
  padding: 5px 15px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  transition: all 0.2s ease;
  border: 1px solid white;
  border-radius: 05px;
}

.head-btn:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

main-body {
  display: flex;
  justify-content: space-between;
}

.left-section {
}

.left-section h2 {
  color: red;
  font-size: 34px;
}

.left-section h1 {
  font-size: 100px;
  color: #333;
  margin-top: -20px;
}

.left-section p {
  max-width: 500px;
  font-weight: 500;
  font-size: 18px;
  color: #555;
}

.left-section h3 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
}

.left-section .indigo-blue {
  background: #0745b2;
  transition: 0.3s ease-in-out;
}

.left-section .indigo-blue:hover {
  transform: translateY(-10px);
}

.left-section .hazelnut {
  background: #f5d8c6;
  transition: 0.3s ease-in-out;
}

.left-section .hazelnut:hover {
  transform: translateY(-10px);
}

.left-section .brooklyn-black {
  background: #333333;
  transition: 0.3s ease-in-out;
}

.left-section .brooklyn-black:hover {
  transform: translateY(-10px);
}

.slt-btn-style {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}

.left-section .button {
  background-color: #555;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 17px;
  border-radius: 30px;
  margin: 20px 0 -20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 0;
}

.left-section .button:hover {
  background: white;
  color: #555;
  border: 2px solid black;
  transform: scale(1.1);
}

.right-section {
}

.chetak-image img {
  max-width: 50%;
}
