* {
  font-family: "poppins", sans-serif;
}
body {
  background-color: black;
  background-image: url("./Images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-bar {
  background-color: rgb(23, 23, 94);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chetak-logo {
  padding: 15px 0px 15px 50px;
  max-width: 25%;
}

.nav-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin: 0px 20px 0px 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
}

.nav a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav a:hover::before {
  width: 100%;
}

.head-btn {
  margin: 10px 80px 10px 0;
  padding: 5px 20px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  transition: all 0.2s ease;
  border: 1px solid white;
  border-radius: 50px;
  cursor: pointer;
}

.head-btn:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.main-body {
  display: flex;
}

.left-section {
  margin-left: 60px;
  max-width: 350px;
  padding: 80px 0 0 150px;
}

.left-section * {
  margin: 0;
  padding: 0;
}

.left-section h2 {
  color: red;
  font-size: 22px;
}

.left-section h1 {
  font-size: 80px;
  color: #333;
  letter-spacing: -06px;
  margin-top: 0;
}

.left-section p {
  max-width: 380px;
  font-weight: 500;
  font-size: 14px;
  color: #555;
  text-align: justify;
  padding: 20px 0;
}

.left-section h3 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0;
}

.left-section .indigo-blue {
  background: #0745b2;
  transition: 0.3s ease-in-out;
}

.left-section .indigo-blue:hover {
  transform: translateY(-10px);
}

.left-section .hazelnut {
  background: #f5d8c6;
  transition: 0.3s ease-in-out;
}

.left-section .hazelnut:hover {
  transform: translateY(-10px);
}

.left-section .brooklyn-black {
  background: #333333;
  transition: 0.3s ease-in-out;
}

.left-section .brooklyn-black:hover {
  transform: translateY(-10px);
}

.slt-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.left-section .button {
  background-color: #555;
  color: white;
  width: 130px;
  height: 40px;
  font-size: 14px;
  border-radius: 30px;
  margin: 20px 0 -20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 0;
}

.left-section .button:hover {
  background: white;
  color: #555;
  border: 2px solid black;
  transform: scale(1.1);
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chetak-image img {
  padding: 60px 0 0 50px;
  max-width: 80%;
}
